.main__genres {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genres, .h2-L{
    width: 100%;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}
.genres__div {
    width: 100%;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 25px;
}
.div__names-L {
    background-color: var(--gray-6);
    padding: 11px 10px 11px 10px;
    border-radius: 4px;
    border: none;
}

.div__names-L:hover {
    background-color: var(--gray-2);
    color: var(--gray-7);
}