header {
    width: 100%;
    height: fit-content;
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 3px solid var(--brand-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__change-L {
    background-image: url("/open-music/scr/assets/icons/moon-icon.svg");
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }